.logo {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.app-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.2rem;
  height: 3rem;
  width: 100%;
  box-shadow: 0 0 1px var(--clr-old-rose);
  background: var(--clr-linen);
}

.card {
  width: 16rem;
  height: 22rem;
  border-radius: 0.8rem;
  box-shadow: -3px 4px 0 var(--clr-old-rose);
  overflow: hidden;
  background-color: var(--clr-dun);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.card-content {
  padding: 1rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  padding: 1rem;
  gap: 1em;
}

.top-btn {
  --var-size: 2.5rem;

  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  border-radius: 100%;
  height: var(--var-size);
  width: var(--var-size);
}

.pointer {
  cursor: pointer;
}

.dialog {
  border: none;
  border-radius: 8px;
  padding: 0;
  max-width: 64rem;
  max-height: 32rem;
  height: 90%;
  width: 90%;
}

.dialog-content {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  background-color: var(--clr-linen);
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.dialog-image {
  width: 20rem;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}

.dialog-info {
  flex: 1;
}

.dialog-info h2 {
  margin-top: 0;
}

.dialog button {
  --position: 1.5rem;

  position: absolute;
  width: fit-content;
  right: var(--position);
  top: var(--position);
  border: 0;
}

.dialog button:focus {
  border: 0;
  outline: 0;
}

.font-semibold {
  font-weight: 700;
}

.pagination-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.pagination-btn {
  padding-inline: 0.75rem;
  padding-block: 0.25rem;
  font-size: 10pt;
  border: 1px solid var(--clr-rose-taupe);
  border-radius: 0.2rem;
  background-color: var(--clr-linen);
}

.pagination-btn:hover {
  background-color: lightgrey;
  background-color: var(--clr-linen);
}

.pagination-btn-active {
  padding-inline: 0.75rem;
  padding-block: 0.25rem;
  font-size: 10pt;
  color: white;
  background: var(--clr-rose-taupe);
  border-radius: 0.2rem;
}

.pagination-btn-disabled {
  padding-inline: 0.75rem;
  padding-block: 0.25rem;
  font-size: 10pt;
  color: grey;
  border: 1px solid var(--clr-rose-taupe);
  border-radius: 0.2rem;
  cursor: not-allowed;
  background-color: var(--clr-cinereous);
}

.pagination-options > .go-to {
  margin-left: 1rem;
}

.pagination-options a {
  text-decoration: none;
  color: black;
}

.pagination-options input[type="number"]::-webkit-inner-spin-button,
.pagination-options input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pagination-options input[type="number"] {
  -moz-appearance: textfield;
}
