<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/static/styles/root.css">
  <link rel="stylesheet" href="/static/styles/component.css">
  <link rel="stylesheet" href="/static/styles/home.css">

  <title>Book Management</title>
</head>

<body>
  <header class="app-bar">
    <a href="/" class="logo">Book Management</a>
  </header>
  <main class="container">
    <section class="book-list">
      {{ range .Data }}
      <div class="card">
        <img src="{{ .Image }}" alt="{{ .Title }}" class="book">
        <div class="card-content">
          <p class="book-title">{{ .Title }}</p>
          <p class="book-author">{{ .Author }}</p>
        </div>
      </div>
      {{ end }}
    </section>
  </main>
</body>

</html>